/* SECTION */
*{
    margin: 0;
    padding: 0;
    background-color: #fafafa;

}

/* classe de posicionamento */
.flex{
    display: flex;
}
.flex-between{
    justify-content: space-between; 
}
.align-center{
    align-items: center;
}
.flex-align-end{
    align-items: flex-end;
}
.flex-center{
    justify-content:center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
/* estilo da timeline */
#timeline .user-total{
    padding: 3px 15px;
    background-color: #fafafa;
    color: #262626;
    border: solid 1px #efefef;
}
#timeline .user-name{
    padding-left: 7px;
}
#timeline .user-img{
    max-width: 53px;
    max-height: 53px; 
    border-radius: 100%;
    border: solid 2px #efefef;
}
#timeline .border-linear{
    width: 40px;
    height: 40px;
    /* background-image: linear-gradient(60deg, #ff2, #f06, #90c) */
}
#timeline .icon-point{
    color: #262626;
    font-size: 15px;
}
#timeline .img-tl{
    max-width:670px;
    width: 100%;
    border: solid 2px #efefef;
}
#timeline .div-teste{
    border: solid 1px #efefef;
    
}
#timeline .icons-4{
    padding: 7px;
    background-color: #fafafa;
    font-size: 23px;
    color: #000000;
}
#timeline .icons-3{
    padding: 1px;
}
#timeline .padding-left{
    padding-left: 7 px;
}
#timeline .comments{
    padding: 5px;
    background-color: #fafafa;
}
#timeline b{
    margin: 3px;
}
.padding{
    padding: 5px;
}
#timeline .letra-italica{
    color: #999999;
}
#timeline .letra-texto{
    color:#000000;
}
@media screen and (min-width:700px) {
   .user-total{
      width: 640px;
     
   }
   .div-teste{
       width: 670px;
   }
    
}