/* SECTION */
*{
    margin: 0;
    padding: 0;
}

/* classe de posicionamento */
.flex{
    display: flex;
}
.flex-between{
    justify-content: space-between; 
}
.align-center{
    align-items: center;
}
.flex-j-content{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    justify-content:center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
/* estilo da timeline */
#timeline .user-total{
    padding: 5px 15px;
    background-color: #fafafa;
    color: #262626;
}
#timeline .user-name{
    padding-left: 7px;
}
#timeline .user-img{
    max-width: 53px;
    max-height: 53px; 
    border-radius: 100%;
    border: solid 2px transparent;
}
#timeline .border-linear{
    position: relative;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(60deg, #ff2, #f06, #90c)
}
#timeline .icon-point{
    color: #262626;
    font-size: 15px;
}
#timeline .img-tl{
    max-width:320px;
    max-height: 320px;
}
#timeline .icons-3{
    padding: 7px;
}
#timeline .padding-left{
    padding-left: 7 px;
}
#timeline .comments{
    padding: 5px;
    background-color: #fafafa;
}
.letra-italica{
    color: #999999;
}
.letra-texto{
    color:#000000;
}