/* SECTION */

* {
    margin: 0;
    padding: 0;
}

/* classe de posicionamento */

.flex {
    display: flex;
}
.flex-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}

/* estilo da timeline */
#timeline .dad{
    background-color:#efefef;
}
}
#timeline .user-total{
    padding: 5px 15px;
    background-color: #ffffff;
    color: #262626;
}
#timeline .user-name {
    padding-left: 7px;
}
#timeline div.user-total{
    padding: 5px;   
}
#timeline .user-img {
    max-width: 53px;
    max-height: 53px;
    border-radius: 100%;
    border: solid 1px #efefef;
}
#timeline .border-linear {
    width: 40px;
    height: 40px;
    /* background-image: linear-gradient(60deg, #ff2, #f06, #90c) */
}
#timeline .icon-point {
    color: #262626;
    font-size: 15px;
}
#timeline .img-tl {
    max-width: 670px;
    width: 100%;
}
#timeline .div-teste {
    background-color: #ffffff;
}
#timeline .icons-4 {
    padding: 7px;
    background-color: #fafafa;
    font-size: 23px;
    color: #000000;
}
#timeline .icons-3 {
    padding: 1px;
}
#timeline .padding-left {
    padding-left: 7 px;
}
#timeline .comments {
    padding: 5px;
    background-color: #fafafa;
}
#timeline b {
    margin: 3px;
}
#timeline.padding {
    padding: 5px;
}
#timeline .letra-italica {
    color: #999999;
}
#timeline .letra-texto {
    color: #000000;
}
@media screen and (min-width:700px) {
    #timeline{
        border: solid 1px #efefef;
    }
    .dad {
        display: flex;
        justify-content: center;
    }
    .user-total {
        width: 640px;
    }
    .div-teste {
        width: 670px;
    }
    .border-linear {
        width: 55px;
        height: 55px;
    }
}

/* login */

#login {
    color: #fafafa;
}
#login footer {
    padding-right: 15px;
    margin: 40px;
}
#login .title {
    height: 60px;
    margin: 40px;
    font-family: 'Pacifico', cursive;
    color: #252323;
}
#login .inputs {
    padding: 17px;
    padding-right: 55px;
    margin: 3px;
    border: solid 3px #efefef;
    font-size: 13px;
    border-radius: 5px;
}
#login .button-end-input {
    border-radius: 5px;
    font-size: 17px;
    padding-left: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 100px;
    background-color: #3897f0;
    color: #fff;
    border:none;
    margin: 7px;
}
#login .img-playstore{
    height: 50px;
    margin: 30px;
}
.button-play:focus, .button-end-input:focus,.inputs:focus,{
    outline: none;
}

@media screen and (min-width:700px) {
    #login .title {
        height: 100px;
        margin: 60px;
    }
    #login .inputs {
        padding: 17px;
        padding-right: 157px;
        margin: 5px;
        font-size: 15px;
    }
    #login .button-end-input {
        font-size: 17px;
        padding-left: 161px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 161px;
    }
    #login .img-playstore{
        height: 70px;
    }

    /* story/usuario */

.conteudo {
    height: 100vh;
    margin-bottom: 30px;
    padding: 0;
    /* top: 60px; */
}

.#ct {
    position: fixed;
    top: 78px;
}

.perfil {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 62px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.moldura_perfil{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 100%;
    margin-bottom: 12px;
    max-height: 50px;
    width: 100%;
    padding-left: 5px;
}

.logo_us{
    align-self: center;
    display: block;
    -webkit-box-flex: 0;
    flex: none;
}

.img_logo{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 60px;
    height: 60px;
}

a{
    color: #000000;
    text-decoration: none;
}

.perfil1 {
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
}

._use {
    cursor: pointer;
}

.img_usuario {
    height: 100%;
    width: 100%;
}

.subnome {
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 14px;
    -webkit-box-orient: vertical;
    flex-direction: column;
}


}
   